bin
build
.gradle
run
.settings
.classpath
.project
lib
eclipse
*.rangemap
fml/
remapper.log
cb.rangemap
MCP/MCP.iml
MCP/MCP.iws
MCP/MCP.rangemap
*.srg
patches/
bin
build
.gradle
run
.settings
.classpath
.project
.pydevproject
lib
eclipse
.idea
*.iml
*.ipr
RunDir
rundir
